<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="games.cafecito.foundry.plugin.v1.FoundryAppInstrumentedTestPlugin"
            android:value="games.cafecito.foundry.game.test.FoundryAppInstrumentedTestPlugin"/>
    </application>

</manifest>
