<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <application>

        <!-- Records the version of the Foundry library -->
        <meta-data
            android:name="games.cafecito.foundry.library.version"
            android:value="${foundryLibraryVersion}" />

        <meta-data
            android:name="games.cafecito.foundry.engine.version"
            android:value="${foundryEngineVersion}" />

        <meta-data
            android:name="games.cafecito.foundry.engine.revision"
            android:value="${foundryEngineRevision}" />

        <meta-data
            android:name="games.cafecito.foundry.jni.contract"
            android:value="${foundryJniContractVersion}" />

        <service android:name=".FoundryDownloaderService" />

        <receiver
            android:name=".FoundryDownloaderAlarmReceiver"
            android:exported="false" />

        <activity
            android:name=".utils.ProcessPhoenix"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:process=":phoenix"
            android:exported="false"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/foundry_provider_paths" />
        </provider>

    </application>

</manifest>
